{{define "content"}}
{{if .}}
{{range .}}<div class="newentry">
  <div class="left">
    <div>
      <img src="/media/icons/{{.Label}}.png" class="icon">
    </div>
    <div class="button">
      <a href="/media/products/{{.Label}}.apk" class="apk">Download</a>
    </div>
    <div>
      <img src="/media/qrcodes/{{.Label}}.png" class="qrcode">
    </div>
  </div>
  <div class="right">
    <div class="title">
      <b>{{.Label}}</b> version {{.Ver}}
    </div>
    <div class="desc">
      <dl>
	<dt><h3>Description:</h3></dt>
	<dd>{{.Description}}</dd>
      </dl>
    </div>
    {{template "changes" .Changes}}
  </div>
</div>
{{end}}
{{else}}<div class="noappshere">
<h2>Sorry!  The store is currently empty.  Please come back again soon!</h2>
</div>
{{end}}
{{end}}
