{{ define "changes" }}
{{ if . }}
    <div class="desc">
      <h3>Recent Changes:</h3>
{{ $lendot := len . }}
{{ $last := subtract $lendot 1}}
{{ if eq $last 0 }}
{{ $one := index . 0 }}
{{ template "change" $one }}
{{ else }}
      {{ range $index, $element := . }}
      {{ if eq $index 1 }}
      <div id="meh-old" style="display: none;">
      {{ end }}
      {{ template "change" $element }}
      {{ if eq $index $last }}
      </div>
      {{ end }}
      {{ end }}
      <a id="meh-link" href="javascript:toggle('meh-old', 'meh-link');">Display old changes</a>
{{ end }}
    </div>
{{ end }}
{{ end }}
